
## 任务1：Pandas数据读取、保存和数据类型
任务要点：文件读取、保存、数据类型分析步骤
1. 读取文件https://cdn.coggle.club/Pokemon.csv
2. 将读取的进行保存，表头也需要保存
3. 分析每列的类型，取值个数
4. 分析每列是否包含缺失值

In [28]:
# 读取数据

import pandas as pd 
import numpy as np


df = pd.read_csv('https://cdn.coggle.club/Pokemon.csv')
df.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [2]:
# 分析每列的类型，取值个数
df.dtypes

Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [3]:

for col in df.columns:
    print(df[col].value_counts())

Nidoran_             2
Pidgeotto            1
AggronMega Aggron    1
Furfrou              1
Jynx                 1
                    ..
Smoochum             1
Seismitoad           1
Swablu               1
Blitzle              1
Reshiram             1
Name: Name, Length: 799, dtype: int64
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64
Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Rock        14
Ghost       14
Ice         14
Fire        12
Electric     6
Normal       4
Bug          3
Name: Type 2, dtype: int64
600    37
405    26
580    23
500    23
300    19
       ..
351     1
352     1
473     1
358     1
180     1
Name: Total, Length: 200, dtype: int64
60     67
50     63
70     57
65     46
75     43
       ..
97      1
99      1
101     1
104     1
255     1
Name: HP, Length: 94, dtype: int64
100    40
65     39
80     37
50     37
85     33
       ..
106     1
88      1
102     1
91      1
190     1
Name: Attack, Length: 111, dtype: int64
70     54
50     49
60     46
80     39
65     36
       ..
116     1
89      1
119     1
56      1
87      1
Name: Defense, Length: 103, dtype: int64
60     51
40     49
65     44
50     39
55     35
       ..
41      1
39      1
111     1
38      1
194     1
Name: Sp. Atk, Length: 105, dtype: int64
80     52
50     50
55     47
65     44
60     43
       ..
73      1
94      1
92      1
23      1
230     1
Name: Sp. Def, Length: 92, dtype: int64
50     46
60     44
70     37
65     36
30     35
       ..
82      1
103     1
87      1
88      1
180     1
Name: Speed, Length: 108, dtype: int64
1    166
5    165
3    160
4    121
2    106
6     82
Name: Generation, dtype: int64
False    735
True      65
Name: Legendary, dtype: int64

In [4]:
# 分析每列是否包含缺失值

# df.sum ,默认axis=0，按列求和
df.isna().sum()

Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [5]:
# 一个专门的可视化缺失值库 missingno，比较方便

import missingno as msno

msno.bar(df)

## 任务2：Pandas数据位置索引任务要点：数据选择、数据索引
- 步骤1：读取文件https://cdn.coggle.club/Pokemon.csv
- 步骤2：选择出Total列
- 步骤3：选择出Total列和HP列
- 步骤4：选择出第10-40行数据
- 步骤5：选择出第10-40行的Total列和HP列

In [6]:
df2 = pd.read_csv('https://cdn.coggle.club/Pokemon.csv')

df2['Total']

0      318
1      405
2      525
3      625
4      309
      ...
795    600
796    700
797    600
798    680
799    600
Name: Total, Length: 800, dtype: int64

In [7]:
df[['Total','HP']]

     Total  HP
0      318  45
1      405  60
2      525  80
3      625  80
4      309  39
..     ...  ..
795    600  50
796    700  50
797    600  80
798    680  80
799    600  80

[800 rows x 2 columns]

In [8]:
df2.loc[9:40,:]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
13,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False
15,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
16,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
17,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
18,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False
19,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
20,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
24,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False
25,Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False
26,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False
27,Fearow,Normal,Flying,442,65,90,65,61,61,100,1,False
28,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False
29,Arbok,Poison,NaN,438,60,85,69,65,79,80,1,False
30,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
31,Raichu,Electric,NaN,485,60,90,55,90,80,110,1,False
32,Sandshrew,Ground,NaN,300,50,75,85,20,30,40,1,False
33,Sandslash,Ground,NaN,450,75,100,110,45,55,65,1,False
34,Nidoran_,Poison,NaN,275,55,47,52,40,40,41,1,False
35,Nidorina,Poison,NaN,365,70,62,67,55,55,56,1,False
36,Nidoqueen,Poison,Ground,505,90,92,87,75,85,76,1,False
37,Nidoran_,Poison,NaN,273,46,57,40,40,40,50,1,False
38,Nidorino,Poison,NaN,365,61,72,57,55,55,65,1,False
39,Nidoking,Poison,Ground,505,81,102,77,85,75,85,1,False
40,Clefairy,Fairy,NaN,323,70,45,48,60,65,35,1,False

In [10]:
df2.loc[9:40,['Total','HP']]

    Total  HP
9     314  44
10    405  59
11    530  79
12    630  79
13    195  45
14    205  50
15    395  60
16    195  40
17    205  45
18    395  65
19    495  65
20    251  40
21    349  63
22    479  83
23    579  83
24    253  30
25    413  55
26    262  40
27    442  65
28    288  35
29    438  60
30    320  35
31    485  60
32    300  50
33    450  75
34    275  55
35    365  70
36    505  90
37    273  46
38    365  61
39    505  81
40    323  70

## 任务3：Pandas数据逻辑索引
任务要点：逻辑索引https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.where.html
- 步骤1：读取文件https://cdn.coggle.club/Pokemon.csv
- 步骤2：筛选出Type 1 为 Grass的数据
- 步骤3：筛选出Type 1 为 Grass的数据 且 Type 2 为 Poison的数据
- 步骤4：筛选出HP大于50 或 Speed小于90的数据
- 步骤5：筛选出Type 1 取值为Grass 或 Fire，且 HP 位于 70 与 90之间，且 Speed以数字8开头的数据

In [12]:
df3 = pd.read_csv('https://cdn.coggle.club/Pokemon.csv')

In [15]:
df3[df3['Type 1']=='Grass']

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
48,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False
719,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False
720,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False
740,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False

In [16]:
df3[(df3['Type 1']=='Grass')&(df3['Type 2']=='Poison')]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
48,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False
49,Gloom,Grass,Poison,395,60,65,70,85,75,40,1,False
50,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
75,Bellsprout,Grass,Poison,300,50,75,35,70,30,40,1,False
76,Weepinbell,Grass,Poison,390,65,90,50,85,45,55,1,False
77,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
344,Roselia,Grass,Poison,400,50,60,45,100,80,65,3,False
451,Budew,Grass,Poison,280,40,30,35,50,70,55,4,False
452,Roserade,Grass,Poison,515,60,70,65,125,105,90,4,False
651,Foongus,Grass,Poison,294,69,55,45,55,55,15,5,False
652,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

In [17]:
df3[(df3['HP']>50) | (df3['Speed']<90)]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
794,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [22]:
# 筛选出Type 1 取值为Grass 或 Fire，且 HP 位于 70 与 90之间，且 Speed以数字8开头的数据

df3[(df3['Type 1'].isin(['Grass','Fire']))&(df3.HP.between(70,90))&(df3.Speed.astype('str').str.startswith('8'))]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
168,Meganium,Grass,NaN,525,80,82,100,83,100,80,2,False
278,Blaziken,Fire,Fighting,530,80,120,70,110,70,80,3,False
298,Shiftry,Grass,Dark,480,90,100,60,90,60,80,3,False
468,Cherrim,Grass,NaN,450,70,60,70,87,78,85,4,False
518,Magmortar,Fire,NaN,540,75,95,67,125,95,83,4,False

## 任务4：Pandas数据分组聚合
任务要点：groupby、agg、transform
- 步骤1：读取文件https://cdn.coggle.club/Pokemon.csv
- 步骤2：学习groupby分组聚合的使用
- 步骤3：学习agg分组聚合的使用
- 步骤4：学习transform的使用
- 步骤5：使用groupby、agg、transform，统计数据在Type 1分组下 HP的均值

In [24]:
df4 = pd.read_csv('https://cdn.coggle.club/Pokemon.csv')

In [25]:
df4.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [26]:
# 按  'Type 1','Type 2' 分组后，对Total求和

df4.groupby(['Type 1','Type 2'])['Total'].sum()

Type 1  Type 2
Bug     Electric     791
        Fighting    1100
        Fire         910
        Flying      5873
        Ghost        236
                    ...
Water   Ice         1535
        Poison      1280
        Psychic     2405
        Rock        1715
        Steel        530
Name: Total, Length: 136, dtype: int64

In [45]:
# 用agg方法，统计聚合后多个统计量
df4.groupby(['Type 1','Type 2'])['Total'].agg(['min', 'mean', 'max'])

# 还可以定义一个字典

agg_func ={'Total':['min', 'mean', 'max']}
df4.groupby(['Type 1','Type 2']).agg(agg_func)

                Total
                  min        mean  max
Type 1 Type 2
Bug    Electric   319  395.500000  472
       Fighting   500  550.000000  600
       Fire       360  455.000000  550
       Flying     244  419.500000  600
       Ghost      236  236.000000  236
...               ...         ...  ...
Water  Ice        475  511.666667  535
       Poison     335  426.666667  515
       Psychic    315  481.000000  590
       Rock       355  428.750000  495
       Steel      530  530.000000  530

[136 rows x 3 columns]

transform的使用场景：
![20211214115054](https://cdn.jsdelivr.net/gh/xihuishawpy/PicBad@main/blogs/pictures/20211214115054.png)

分析统计出来的数据需要与原始数据加工到一起，但新旧数据的长度是不一样的
1. 常规做法是merge；
2. 用transform会更方便；

In [58]:
# merge 

total_hp = df4.groupby(['Type 1'])['HP'].sum().rename('total_hp').reset_index()

df4_1 = df4.merge(total_hp)
df4_1['HP_ratio']=df4_1['HP']/df4_1['total_hp']

df4_1

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total_hp,HP_ratio
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,4709,0.009556
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,4709,0.012742
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,4709,0.016989
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,4709,0.016989
4,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False,4709,0.009556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,Klefki,Steel,Fairy,470,57,80,91,80,87,75,6,False,1761,0.032368
796,TornadusIncarnate Forme,Flying,NaN,580,79,115,70,125,80,111,5,True,283,0.279152
797,TornadusTherian Forme,Flying,NaN,580,79,100,80,110,90,121,5,True,283,0.279152
798,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False,283,0.141343
799,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False,283,0.300353

In [61]:
# transform

df4['HP_ratio']=df4['HP']/df4.groupby(['Type 1'])['HP'].transform('sum')
df4

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,HP_ratio
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0.009556
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.012742
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.016989
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.016989
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,0.010729
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.017385
796,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,0.017385
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,0.019871
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,0.019871
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,0.022008

In [64]:
# 在Type 1分组下 HP的均值

df.groupby(['Type 1'])['HP'].agg('mean')

Type 1
Bug         56.884058
Dark        66.806452
Dragon      83.312500
Electric    59.795455
Fairy       74.117647
Fighting    69.851852
Fire        69.903846
Flying      70.750000
Ghost       64.437500
Grass       67.271429
Ground      73.781250
Ice         72.000000
Normal      77.275510
Poison      67.250000
Psychic     70.631579
Rock        65.363636
Steel       65.222222
Water       72.062500
Name: HP, dtype: float64

In [63]:
df.groupby(['Type 1'])['HP'].transform('mean')

0      67.271429
1      67.271429
2      67.271429
3      67.271429
4      69.903846
         ...
795    65.363636
796    65.363636
797    70.631579
798    70.631579
799    69.903846
Name: HP, Length: 800, dtype: float64

## 任务5：Pandas日期数据处理
任务要点：日期处理
- 步骤1：创建一列dt，dt取值为从1638263656 到 1638283656 的 unix时间
- 步骤2：将dt列转为datatime格式
- 步骤3：筛选出dt列中小时为10的行
- 步骤4：将dt列整体增加8小时的时间

In [76]:
dt = [d for d in range(1638263656,1638283657)]

dt_df = pd.DataFrame(pd.to_datetime(dt,unit='s'),columns=['dt'])

dt_df.head()

                   dt
0 2021-11-30 09:14:16
1 2021-11-30 09:14:17
2 2021-11-30 09:14:18
3 2021-11-30 09:14:19
4 2021-11-30 09:14:20

In [79]:
dt_df[dt_df['dt'].dt.hour==10]

                      dt
2744 2021-11-30 10:00:00
2745 2021-11-30 10:00:01
2746 2021-11-30 10:00:02
2747 2021-11-30 10:00:03
2748 2021-11-30 10:00:04
...                  ...
6339 2021-11-30 10:59:55
6340 2021-11-30 10:59:56
6341 2021-11-30 10:59:57
6342 2021-11-30 10:59:58
6343 2021-11-30 10:59:59

[3600 rows x 1 columns]

In [82]:
dt_df['dt_plus8h'] = dt_df['dt']+pd.Timedelta(8,unit='hours')
dt_df

                       dt           dt_plus8h
0     2021-12-01 01:14:16 2021-12-01 09:14:16
1     2021-12-01 01:14:17 2021-12-01 09:14:17
2     2021-12-01 01:14:18 2021-12-01 09:14:18
3     2021-12-01 01:14:19 2021-12-01 09:14:19
4     2021-12-01 01:14:20 2021-12-01 09:14:20
...                   ...                 ...
19996 2021-12-01 06:47:32 2021-12-01 14:47:32
19997 2021-12-01 06:47:33 2021-12-01 14:47:33
19998 2021-12-01 06:47:34 2021-12-01 14:47:34
19999 2021-12-01 06:47:35 2021-12-01 14:47:35
20000 2021-12-01 06:47:36 2021-12-01 14:47:36

[20001 rows x 2 columns]

## 任务6：Pandas缺失值处理
任务要点：groupby、agg、transform
- 步骤1：读取文件https://cdn.coggle.club/Pokemon.csv
- 步骤2：分析每列的缺失值
- 步骤3：对每列的缺失值进行填空

In [83]:
df6 = pd.read_csv('https://cdn.coggle.club/Pokemon.csv')

# Type 2列，缺失386个值
df6.isnull().sum()

Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [84]:
df6.fillna('null')

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,null,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True